footer {
	.contenedor-footer {
		display: flex;
		height: 80px;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		background-color: rgb(202, 202, 0);
		div{
			img{
			margin:0 2rem;
			max-width: 80px;
			}
			p{
				font-style: oblique;
				margin: auto;
				font-size: 80%;
				width: auto;
			}
		}
		
		.div{
			display: flex;
			height: 80px;
			width: 50%;
			align-items: center;
			justify-content: end;
			
		}
	}
}