.header{
        height: 100%;
        background-color:rgb(202, 202, 0);
    img{
    margin: 1rem 1.5rem;
    max-width: 12rem;
    /*logo*/
    } 
    h1{
        font-size: 50px;
        text-align: center;
        font-weight: 2px;
        margin: 10px;
    }

    h2{
        @extend h1 ;
        font-size: 40px;
        margin-left: 20px;
    }

    nav{
        display: flex;
        justify-content: center;

        ul{
            list-style-type: none;
            white-space: unset;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            text-decoration: black;
            li{
                    margin: 0.5rem 1rem;
            }
        }
    }
}





